# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pipenv
Pipfile.lock

# dotenv environment variables file
.env
.env.*

# Scrapy
.scrapy

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Test output
test-results/
.junit/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

output/*.json